/* smooth scroll upside */
html {
  scroll-behavior: smooth;
}

/* for all elements */

*{ margin: 0; padding: 0; box-sizing: border-box; font-family: 'Poppins', sans-serif; }

a{ text-decoration: none; }

a:hover{ text-decoration: none; }

li{ list-style: none; }

   /*set icons color*/
i{ color: #2fccd0; }

p{
	font-size: 0.9rem;
	line-height: 1.6;
	font-weight: 400;
	color: #606060;
}

.extra-div h2, .service-div h2{
	font-size: 0.9rem;
	margin: 20px 0 15px 0;
	font-weight: bold;
	line-height: 1.1;
	word-spacing: 4px;
}


/* for header */

	/*linear-gradient= to give blue tint to header section
	  clip-path= to provide shape to header section
	*/
.header{
	width: 100%;
	height: 100vh;
	background-image:linear-gradient(rgba(0,168,255,0.3), rgba(0,168,255,0.3)), url('../images/clubcover.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%; 
	clip-path: polygon(100% 0%, 100% 77%, 50% 100%, 0 75%, 0 0);
	position: relative;
}

.header:before{
	content: "";
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 0%;
	right: 0%;
	opacity: .3;
	z-index: -1;
	background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
}

/*for navbar */

.navbar:before{
	content: "";
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 0%;
	right: 0%;
	opacity: .3;
	z-index: -1;
	background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
}

.nav-item a{
	color: #fff !important;
	font-weight: bold;
}

.nav-item a:hover{
	transform: translateY(5px);
}

/*for first section*/

.header-section{
	width: 100%;
	height: inherit;
	color: white;
	text-align: center;
	position: relative;
	text-transform: uppercase;
}

.center-div{
	width: 100%;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

.header-buttons a{
	border: 1px solid #fff;
	border-radius: 100px;
	margin: 0 5px;
	padding: 12px 35px;
	outline: none;
	color: #fff;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.4;
	text-align: center;
}

.header-buttons a:hover{
	color: #50d1c0;
	background: #fff;
	text-decoration: none;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}

.center-div p{
	font-size: 1.3rem;
	padding: 10px 0 20px 0;
	color: white;
}

/* for third section */

.services-offered{
	background: #f7f7f9;
	padding: 50px 0;
	margin-bottom: 50px;
	margin-top: 50px;
}

.headings h1{
	font-size: 2rem;
	font-weight: 600;
	text-transform: uppercase;
}

.headings p{
	font-weight: 600;	
	font-size: 1rem;
	text-transform: uppercase;
}	

.names h1{
	color: #2e2e2e;
	font-size: 0.9rem;
	text-transform: uppercase;
	font-weight: bold;
}

.service-icons{
	display: flex;
	align-items: center;
}

/* for nineth section footer */	

.members{
	color: #000;
	line-height: 1.6;
	font-weight: 400;
}

.members:hover{
	font-weight: 800;
}

/* media queries */
@media(max-width: 768px){
	.nav-item{
		text-align: center !important;
	}

	.footer-text{
		margin: 30px 0;
	}
}


