<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ViitClubs</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
<!--   <servlet> -->
<!--   	<servlet-name>abc</servlet-name> -->
<!--   	<servlet-class>com.controller.loginController</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!--   	<servlet-name>abc</servlet-name> -->
<!--   	<url-pattern>/login</url-pattern> -->
<!--   </servlet-mapping> -->

	
<!-- for jsp file -->
	<servlet>
		<servlet-name>adminLogin</servlet-name>
		<jsp-file>/adminLogin.jsp</jsp-file>
	</servlet>	
	<servlet-mapping>
		<servlet-name>adminLogin</servlet-name>
		<url-pattern>/adminlogin</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>adminDashboard</servlet-name>
		<jsp-file>/adminDashboard.jsp</jsp-file>
	</servlet>	
	<servlet-mapping>
		<servlet-name>adminDashboard</servlet-name>
		<url-pattern>/admindashboard</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>editClub</servlet-name>
		<jsp-file>/editClub.jsp</jsp-file>
	</servlet>	
	<servlet-mapping>
		<servlet-name>editClub</servlet-name>
		<url-pattern>/editclubview</url-pattern>
	</servlet-mapping>
  
</web-app>